body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
  outline: 2px solid seagreen;
}

.header {
  display: flex;
  /* outline: 2px solid slateblue; */
  margin: 0 auto;
  width: 1240px;
  justify-content: center;
  background-color: #f5eee0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 114px;
  align-items: center;
}

.social-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 1101px;
  top: -555px;
}


.social-p {
  position: relative;
  left: 832px;
  top: -770px;
}

.nav-a {
  text-decoration: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.desert-section {
  background-color: #f5eee0;
  margin-top: -46px;
}

.author-desert {
  text-align: center;
  font-family: monospace;
  font-size: 58px;
  color: #705a66;
}

.cream-spoon {
  position: absolute;
  left: 816px;
}

.shu {
  position: absolute;
  top: 194px;
  left: 417px;
}

.cake {
  position: relative;
  left: -80px;
  top: -106px;
}

.tart {
  position: relative;
  left: -11px;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  gap: 30px;
}

.food-a {
  text-decoration: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  width: 276px;
  justify-content: center;
  width: 276px;
  height: 67px;
  left: 0;
  right: 24px;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgb(245, 238, 224);
  padding-top: 21px;
  margin-left: 144px;
  margin-top: -47px;
  z-index: 2;
  position: relative;
  margin-bottom: 87px;
}

.food-img {
  display: block;
}

.food-item {
  width: 605px;
  justify-content: center;
}

.best-h2 {
  text-align: center;
  color: #705a66;
  font-family: cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: 0%;
}

.best-list {
  list-style: none;
  display: flex;
  gap: 32px;
  padding-left: 0;
}

.best-p {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.best-price {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.best-a {
  border-radius: 10px;
  background: rgb(245, 238, 224);
  width: 604px;
  height: 67px;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 81px;
  margin: 0 auto;
  display: block;
  margin-top: 107px;
}

.why-list {
  list-style: none;
  display: flex;
}

.why-h2 {
  color: rgb(112, 90, 102);
  font-family: cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: 0%;
  text-align: center;
}

.why-item {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.why-item-1 {
  width: 289px;
  height: 128px;
}

.why-item-2 {
  width: 499px;
  height: 717px;
}

.why-item-3 {
  width: 393px;
}

.why-p-ex {
  position: relative;
  top: -98px;
  top: -257px;
  left: 25px;
}

.why-h3-ex {
  position: relative;
  top: -255px;
  left: 12px;
}

.why-img {
  position: relative;
  width: 653.77px;
  height: 584.46px;
  left: -66.92px;
  right: 214.16px;
  top: -130px;
  bottom: 48.54px;
}

.dilivery-h2 {
  color: rgb(112, 90, 102);
  font-family: cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  text-align: center;
}

.dilivery-list {
  display: flex;
  list-style: none;
  gap: 83px;
  padding-left: 0;
  width: 1240px;
  justify-content: center;
}

.dilivery-item {
  width: 288px;
  margin: 0 auto;
  text-align: center;
}

.picture-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}


.name-anna {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.name-p {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.unique-section {
  background-image: url("images/egg-back.jpg");
  display: flex;
  justify-content: space-around;
}

.unique-wrap {
  /* outline: 2px dashed red; */
  position: relative;
  top: 71px;
}

.unique-p {
  color: rgb(245, 247, 248);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 393px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.name-p-2 {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.name-p-3 {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  width: 499px;
  height: 286px;
}

.name-div {
  display: block;
  flex-wrap: wrap;
  position: relative;
  left: 688px;
  top: -688px;
}

.anna-img {
  padding-left: 100px;
}

.unique-name {
  position: relative;
  width: 499px;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgb(245, 247, 248);
  outline: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 32px;
  border: none;
}

.unique-form {
  /* border: 2px solid rebeccapurple; */
  width: 499px;
  height: 439px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-top: 62.5px;
  margin-bottom: 62.5px;
}

.unique-tel {
  position: relative;
  width: 499px;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgb(245, 247, 248);
  outline: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 32px;
  border: none;
}

.textarea-u {
  position: relative;
  width: 499px;
  height: 180px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgb(245, 247, 248);
  outline: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  padding: 32px;
}

.button-u {
  position: relative;
  width: 499px;
  height: 67px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgb(245, 238, 224);
  border: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

}

.button-u:hover {
  cursor: pointer;
  background: rgb(238, 225, 197);
}

.wine-tart-back {
  width: 100%;
}

.q-h2 {
  text-align: center;
  font-family: cursive;
  color: rgb(112, 90, 102);
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: 0%;
}

.inst-h2 {
  text-align: center;
  font-family: cursive;
  color: rgb(112, 90, 102);
  /* font-family: Moniqa; */
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: 0%;
}

.inst-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  gap: 30px;
}

.inst-a {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f5eee0;
  padding: 19px 154px 19px 154px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  width: 604px;
  margin-top: 62px;
}

.giigle-line {
  position: relative;
  top: -114px;
  left: 211px;
}

.line-top {
  position: relative;
  left: 855px;
  top: -163px;
}

.line-bottom {
  position: relative;
  left: 828px;
  top: -147px;
}

.footer {
  background-color: #705a66;
  display: flex;
  justify-content: space-between;
  color: #f5f7f8;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}


.footer-list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.foot-viber {
  fill: #f5f7f8;
  margin-right: 188px;
}

.foot-inst {
  fill: #f5f7f8;
}

.foot-teleg {
  fill: #f5f7f8;
}

.foot-a {
  text-decoration: none;
  color: #f5f7f8;
}

.foot-logo {
  display: block;
  width: 255px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 164px;
  margin-bottom: 100px;
}

.foot-div {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 190px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.foot-div-2 {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 190px;
  margin-left: 100px;
  margin-right: -58px;
  margin-bottom: 100px;
}

/* acordion */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 1028px;
}


.accordion-item {
  margin-bottom: 10px;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(112, 90, 102);

}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-content p {
  margin: 0;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.arrow {
  float: right;
}

.arrow-icon {
  width: 54px;
  height: 52px;
  fill: #705a66;
}