body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
  outline: 2px solid seagreen;
}

.header {
  display: flex;
  outline: 2px solid slateblue;
  margin: 0 auto;
  width: 1240px;
  justify-content: center;
  background-color: #f5eee0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 114px;
  align-items: center;
}

.nav-a {
  text-decoration: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.desert-section {
  background-color: #f5eee0;
  margin-top: -46px;
}

.author-desert {
  text-align: center;
  font-family: monospace;
  font-size: 58px;
  color: #705A66;
}

.cream-spoon {
  position: absolute;
  left: 816px;
}

.shu {
  position: absolute;
  top: 194px;
  left: 417px;
}

.cake {
  position: relative;
  left: -80px;
  top: -106px;
}

.tart {
  position: relative;
  left: -65px;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  gap: 30px;
}

.food-a {
  text-decoration: none;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  width: 276px;
  justify-content: center;
  width: 276px;
  height: 67px;
  left: 0;
  right: 24px;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgb(245, 238, 224);
  padding-top: 21px;
  margin-left: 144px;
  margin-top: -47px;
  z-index: 2;
  position: relative;
  margin-bottom: 87px;
}

.food-img {
  display: block;
}

.food-item {
  width: 605px;
  justify-content: center;
}

.best-h2 {
  text-align: center;
  color: #705A66;
  font-family: cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: 0%;
}

.best-list {
  list-style: none;
  display: flex;
  gap: 32px;
  padding-left: 0;
}

.best-p {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.best-price {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.best-a {
  border-radius: 10px;
  background: rgb(245, 238, 224);
  width: 604px;
  height: 67px;
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 81px;
  margin: 0 auto;
  display: block;
  margin-top: 107px;
}

.why-list {
  list-style: none;
  display: flex;
}

.why-h2 {
  color: rgb(112, 90, 102);
  font-family: cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: 0%;
  text-align: center;
}

.why-item {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;

}

.why-item-1 {
  width: 289px;
  height: 128px;
}

.why-item-2 {
  width: 499px;
  height: 717px;
}

.why-item-3 {
  width: 393px;
}

.why-p-ex {
  position: relative;
  top: -98px;
  top: -257px;
  left: 25px;
}

.why-h3-ex {
  position: relative;
  top: -255px;
  left: 12px;

}

.why-img {
  position: relative;
  width: 653.77px;
  height: 584.46px;
  left: -66.92px;
  right: 214.16px;
  top: -130px;
  bottom: 48.54px;
}

.dilivery-h2 {
  color: rgb(112, 90, 102);
  font-family: cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 104px;
  text-align: center;
}

.dilivery-list {
  display: flex;
  list-style: none;
  gap: 83px;
  padding-left: 0;
  width: 1240px;
  justify-content: center;
}

.dilivery-svg {}

.dilivery-item {
  width: 288px;
  margin: 0 auto;
  text-align: center;
}


.picture-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-list {
  list-style: none;
}

.unique-section {
  background-image: url("images/egg-back.jpg");
}

.wine-tart-back {
  width: 100%;
}

.inst-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  gap: 30px;
}

.inst-a {
  color: rgb(112, 90, 102);
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f5eee0;
  padding: 19px 154px 19px 154px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  width: 604px;
  margin-top: 62px;
}

.giigle-line {
  position: relative;
  top: -114px;
  left: 211px;
}

.line-top {
  position: relative;
  left: 855px;
  top: -163px;
}


.line-bottom {
  position: relative;
  left: 828px;
  top: -147px;
}

.footer {
  background-color: #705A66;
  display: flex;
  justify-content: space-between;
  color: #F5F7F8;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.foot-logo {
  display: block;
  width: 255px;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 40px;

}

.foot-inst {
  fill: #F5F7F8;
}

.foot-a {
  text-decoration: none;
  color: #F5F7F8;
}

.foot-teleg {
  fill: #F5F7F8;
}

.foot-div {
  outline: 2px solid red;
}

.foot-div-2 {
  outline: 2px solid royalblue;
}